In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)

In [4]:
data.columns = ['sepal length','sepal width','petal length','pental width','class']

In [5]:
data.head()

   sepal length  sepal width  petal length  pental width        class
0           5.1          3.5           1.4           0.2  Iris-setosa
1           4.9          3.0           1.4           0.2  Iris-setosa
2           4.7          3.2           1.3           0.2  Iris-setosa
3           4.6          3.1           1.5           0.2  Iris-setosa
4           5.0          3.6           1.4           0.2  Iris-setosa

In [6]:
from pandas.api.types import is_numeric_dtype

In [7]:
for col in data.columns:
    if is_numeric_dtype(data[col]):
        print('%s:'%(col))
        print('\t Mean = %.2f' % data[col].mean())
        print('\t Standard deviation = %.2f' % data[col].std())
        print('\t Minimun = %.2f' % data[col].min())
        print('\t Minimun = %.2f' % data[col].max())

sepal length:
	 Mean = 5.84
	 Standard deviation = 0.83
	 Minimun = 4.30
	 Minimun = 7.90
sepal width:
	 Mean = 3.05
	 Standard deviation = 0.43
	 Minimun = 2.00
	 Minimun = 4.40
petal length:
	 Mean = 3.76
	 Standard deviation = 1.76
	 Minimun = 1.00
	 Minimun = 6.90
pental width:
	 Mean = 1.20
	 Standard deviation = 0.76
	 Minimun = 0.10
	 Minimun = 2.50

In [8]:
data['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [9]:
data.describe(include='all')

        sepal length  sepal width  petal length  pental width        class
count     150.000000   150.000000    150.000000    150.000000          150
unique           NaN          NaN           NaN           NaN            3
top              NaN          NaN           NaN           NaN  Iris-setosa
freq             NaN          NaN           NaN           NaN           50
mean        5.843333     3.054000      3.758667      1.198667          NaN
std         0.828066     0.433594      1.764420      0.763161          NaN
min         4.300000     2.000000      1.000000      0.100000          NaN
25%         5.100000     2.800000      1.600000      0.300000          NaN
50%         5.800000     3.000000      4.350000      1.300000          NaN
75%         6.400000     3.300000      5.100000      1.800000          NaN
max         7.900000     4.400000      6.900000      2.500000          NaN

In [10]:
data_encoded = pd.get_dummies(data, drop_first=True)

In [11]:
cov_matrix = data_encoded.cov()

In [12]:
print("Covariance:\n", cov_matrix)

Covariance:
                        sepal length  sepal width  petal length  pental width  \
sepal length               0.685694    -0.039268      1.273682      0.516904
sepal width               -0.039268     0.188004     -0.321713     -0.117981
petal length               1.273682    -0.321713      3.113179      1.296387
pental width               0.516904    -0.117981      1.296387      0.582414
class_Iris-versicolor      0.031096    -0.095302      0.168233      0.042729
class_Iris-virginica       0.249888    -0.026846      0.601790      0.277629

                       class_Iris-versicolor  class_Iris-virginica
sepal length                        0.031096              0.249888
sepal width                        -0.095302             -0.026846
petal length                        0.168233              0.601790
pental width                        0.042729              0.277629
class_Iris-versicolor               0.223714             -0.111857
class_Iris-virginica               -0.111857              0.223714

In [13]:
data_encoded = pd.get_dummies(data, drop_first=True)
corr_matrix = data_encoded.corr()
print("Correlation:\n", corr_matrix)

Correlation:
                        sepal length  sepal width  petal length  pental width  \
sepal length               1.000000    -0.109369      0.871754      0.817954
sepal width               -0.109369     1.000000     -0.420516     -0.356544
petal length               0.871754    -0.420516      1.000000      0.962757
pental width               0.817954    -0.356544      0.962757      1.000000
class_Iris-versicolor      0.079396    -0.464700      0.201587      0.118376
class_Iris-virginica       0.638020    -0.130901      0.721102      0.769134

                       class_Iris-versicolor  class_Iris-virginica
sepal length                        0.079396              0.638020
sepal width                        -0.464700             -0.130901
petal length                        0.201587              0.721102
pental width                        0.118376              0.769134
class_Iris-versicolor               1.000000             -0.500000
class_Iris-virginica               -0.500000              1.000000

In [14]:
%matplotlib inline
data['sepal length'].hist(bins=8)

In [15]:
data.boxplot()

In [16]:
import matplotlib.pyplot as plt

In [17]:
fig, axes = plt.subplots(3, 2, figsize=(12, 12))
index = 0
for i in range(3):
    for j in range(i + 1, 4):
        ax1 = int(index / 2)
        ax2 = index % 2
        
        axes[ax1][ax2].scatter(data[data.columns[i]], data[data.columns[j]], color='red')
        axes[ax1][ax2].set_xlabel(data.columns[i])
        axes[ax1][ax2].set_ylabel(data.columns[j])
        
        index = index + 1

In [18]:
from pandas.plotting import parallel_coordinates

In [19]:
%matplotlib inline

In [20]:
parallel_coordinates(data,'class')